*{
    font-family: 'Work Sans', sans-serif;
   
}

/* nav style start  */
nav{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.gamer-icon{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.gamer-icon img{
    width: 100%;
    height: 40px;
}
.gamer-icon h2{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}
.nav-icon-latter{
    color: #F948B2;
}
nav ul{
    display: flex;
    align-items: center;
    padding-top: 24px;

}
nav li{
    list-style: none;
    margin-right: 32px;
    color: #3C354F;
    
    font-size: 18px;
    font-weight: 500;
}
nav li a{
    text-decoration: none;
}
.nav-icon-btn{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    gap: 20px;
    padding: 17px 24px;
    border: 0;
}
/* banner stylr start  */
.banner-container{
    display: flex;
    background-image: url(../images/Group\ 14.png);
    background-size: 700px;
    background-repeat: no-repeat;
}
.banner-container-2{
    padding-left: 100px;
}
.banner-container h1{
    color: #0B0223;
    /* text-align: center; */
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    padding-top: 145px;
}
.banner-container h2{
    /* text-align: center; */
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    color: #F948B2 ;
    margin: 0;
}
.banner-container p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}
.banner-container p .user-icon{
    padding-right:12px;
}
.banner-1st-btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background: #FF42A5;
    padding: 21px 40px;
    border: 0;
}
.banner-2nd-btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background: #4EC5F7;
    padding: 21px 40px;
    border: 0;
}
.banner-container img{
    width: 575px;
    padding-left: 170px;
}
/* we are gamer style start  */
.gamer{
    display: flex;
    text-align: right;
    align-items: center;
    padding-left: 50px;
    padding-right: 130px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding-bottom: 50px;
}
.gamer img{
    width: 600px;
}
.gamer-content h2{
    color: #FF42A5;
    font-size: 48px;
    font-weight: 700;
}
.gamer-content p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin: 15px;
}
.gamer-content h3{
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    margin: 0px;
}
/* play now section style  */
.play-now{
    display: flex;
    text-align: right;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 100px;
}
.play-now-description{
    padding-top: 150px;
    padding-right: 50px;
}
.play-now-description h3{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}
.play-now-description h3 span{
    color: #F948B2;
}
.play-game-img-1{
    width: 500px;
}
.play-now-description p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}
.play-game-img-2{
    width: 200px;
    position: relative;
    bottom: 150px;
    margin-right: 400px;
}
/* careers section style start  */
.careers{
    display: flex;
    background: #FF42A5;

}
.careers-content{
    padding-left: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.careers-content-title{
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
}
.careers-content-description{
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
}
.careers img{
    width: 520px;
}
.careers-content-item{
    display: flex;
    justify-content: space-between;
}
.careers-content-item-1 p{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}
.careers-content-item-2 p{
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    padding-right: 15px;
}
.careers-btn{
    color: #FF42A5;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background: #FFF;
    padding: 21px 40px;
    border: 0;

}




@media screen and (max-width:576px) {
    nav,
    nav ul,
    .gamer,
    .play-now,
    .careers
    {
        flex-direction: column;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    nav ul li{
        padding-top: 15px;
    }
    .gamer-icon{
        text-align: center;
    }
    nav{
        padding-left: 50px;
    }
    .banner-container img {
        width: auto;
        padding-left:0px;
       
    }
    .banner-container-2 {
        padding-left: 10px;
    }
    .gamer{
        text-align: center;
        padding-right: 0px;
    }
    .gamer img{
        width: 400px;
        padding-right: 45px;
    }
    .play-now{
        padding: 0px;
        text-align: center;
    }
    .play-now-description{
        padding-top: 35px;
        padding-right: 0px;
        padding-bottom: 15px;
    }
    .play-game-img-1{
        width: 300px;
    }
    .play-game-img-2{
        width: 150px;
        position: relative;
        bottom: 100px;
    }
    .play-game-img{
        padding: 0 15px;
    }
    .careers-content{
        padding-left: 15px;
        padding-top: 0px;
        padding-bottom: 50px;
    }
    .careers img{
        width: 300px;
        margin: 0;
        text-align: center;
    }

}